<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 引入easyui样式文件 -->
    <link type="text/css" rel="stylesheet" href="/jquery-easyui-1.5/themes/default/easyui.css">
    <!-- 引入easyui图标样式文件 -->
    <link type="text/css" rel="stylesheet" href="/jquery-easyui-1.5/themes/icon.css">
    <!-- 引入jquery js文件 -->
    <script type="text/javascript" src="/jquery-easyui-1.5/jquery.min.js"></script>
    <!-- 引入easyui的js文件 -->
    <script type="text/javascript" src="/jquery-easyui-1.5/jquery.easyui.min.js"></script>
    <!-- 引文easyui支持中文js -->
    <script type="text/javascript" src="/jquery-easyui-1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<!-- 定义登录框 -->
<div class="easyui-dialog" data-options="width:300,height:200,closable:false,title:'用户登录',iconCls:'icon-tip',buttons:'#button'">
    <form action="/login" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td>
                    <input class="easyui-textbox" name="username" data-options="required:true,iconCls:'icon-man'">
                </td>
            </tr>
            <tr>
                <td>密码</td>
                <td>
                    <input class="easyui-passwordbox" name="password" data-options="required:true,iconCls:'icon-man'">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" class="btn btn-default" data-options="iconCls:'icon-ok'">登录</button>
                    <button type="button" class="btn btn-default" data-options="iconCls:'icon-redo'" onclick="register()">注册</button>
                </td>
            </tr>
        </table>

    </form>
</div>
<script type="text/javascript">
    function register() {
        window.location.href="/quanbu?url=register";
    }
</script>

</body>
</html>